.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.landing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3em;
}
.landing-vars {
  color: var(--main-color2);
  text-decoration: none;
  margin: 5px;
}
.button1 {
  border-radius: 5px;
  margin-top: 1em;
  background-color: var(--main-color3);
  font-weight: bold;
  color: var(--main-color2);
  padding: 0.5em 1em;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-container:hover {
  opacity: 50%;
}
