.services {
  padding: 5em 5em;
}
.services-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.partners {
  text-align: center;
  color: var(--main-color2);
  padding-bottom: 1em;
}
.strategy-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.click-logo {
  width: 40px;
  padding-bottom: 1em;
  padding-left: 1em;
  color: var(--global-text-color);
}
.services-body img {
  max-width: 130px;
  max-height: 130px;
}
.services-boxes {
  color: var(--global-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: 215px;
  min-height: 215px;
  z-index: 0;
  transform-origin: bottom;
  animation: bounceout;
  animation-duration: 0.7s;
}
.services-boxes:hover,
.services-boxes:focus {
  animation-name: bouncein;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bouncein {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}
@keyframes bounceout {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
.cards {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}
.services-background {
  background-color: var(--main-color3);
  border: 1px solid var(--main-color5);
}
