.services {
  padding: 5em 5em;
}

.services-body {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.services-boxes {
  color: var(--global-text-color);
  animation: bounceout, colorshiftout;
  background-color: var(--main-color4);
  animation-duration: 1.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  border: 1px solid var(--main-color5);
  min-width: 200px;
  min-height: 200px;
  transform-origin: bottom;
}

.services-boxes:hover {
  animation-name: bouncein, colorshiftin;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
@keyframes bouncein {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes bounceout {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes colorshiftin {
  0% {
    background-color: var(--main-color4);
  }
  100% {
    background-color: var(--spicy-color);
  }
}
@keyframes colorshiftout {
  from {
    background-color: var(--spicy-color);
  }
  to {
    background-color: var(--main-color4);
  }
}

.cards {
  text-align: center;
  max-width: 200px;
  max-height: 200px;
}

.services-background {
  background-color: var(--main-color3);
  border: 1px solid var(--main-color5);
}
