.tododiv * {
  margin: 0 0.5em;
}
.tododiv p {
  color: var(--main-color2);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tododiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  text-align: center;
}
