.brands-background {
  background-color: var(--main-color1);
  padding: 1em 0;
}
.imgs {
  max-width: 18px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.brands-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
