.brands-background {
  background-color: var(--main-color6);
  padding: 2em 0;
  border-left: 1px solid var(--main-color5);
  border-top: 1px solid var(--main-color5);
  border-right: 1px solid var(--main-color5);
}
.imgs {
  max-width: 30px;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.brands-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
