/* .bigbox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 60vh;
} */

.firstbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
}
.boxbox {
  width: 400px;
}
.secondbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-body {
  background-color: var(--main-color3);
  padding: 0.75em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid var(--main-color5);
}
.form-contents {
  display: flex;
  justify-content: space-between;
}
.footer,
.heading-registration {
  text-align: center;
}
.footer2 {
  margin-top: 0.5em;
}
.txt {
  color: var(--main-color2);
}
.heading-registration,
.form__label {
  color: var(--main-color2);
}
.form__label {
  color: var(--main-color2);
  padding-right: 8px;
}
.form__input {
  text-align: center;
  border: 1px solid var(--main-color5);
}
.btn {
  font-size: medium;
  border-radius: 5px;
  background-color: var(--main-color1);
  color: var(--main-color2);
  padding: 0 7px 2px 7px;
  border: 1px solid var(--main-color5);
}
.btn:hover {
  opacity: 50%;
}
.heading-registration {
  padding-bottom: 0.5em;
}
.noinput {
  font-weight: bold;
}
.test1 label {
  padding-right: 0;
  padding-left: 1em;
}
.btn,
.txt,
.form__input,
.form__label {
  margin: 0.3em;
}
.password-error {
  text-align: center;
  padding-bottom: 1em;
}
