a:visited {
  color: var(--main-color2);
}
a:hover {
  color: var(--main-color1);
}
.nav_circle:hover {
  opacity: 50%;
}
a {
  color: var(--main-color2);
}
.navbar-container {
  padding-bottom: 70px;
}
.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 5px;
  background-color: var(--main-color3);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.brand_name {
  margin-left: 1em;
  color: var(--main-color2);
}
.nav_menu {
  margin-left: auto;
}
.nav_menu ul {
  display: flex;
  padding: 0;
}
.nav_menu li {
  list-style-type: none;
  margin: 0 1.7rem;
}
.nav_menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.nav_circle {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5em;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  background-color: var(--main-color2);
}
@media screen and (max-width: 768px) {
  .nav_circle {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .nav_menu ul {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav_menu ul {
    position: absolute;
    top: 68px;
    border-radius: 5px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: var(--main-color3);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  }
  .nav_menu li {
    text-align: center;
    margin: 0;
  }
  .nav_menu li a:hover {
    background-color: var(--main-color4);
  }
  .nav_menu li a {
    color: var(--global-text-color);
    width: 100%;
    padding: 1.5rem 0;
  }
}
@media screen and (max-width: 768px) {
  .nav_menu ul {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav_menu.expanded ul {
    display: block;
    padding: 0;
  }
}
@media screen and (max-width: 180px) {
  .brand_name {
    display: none;
  }
  .navbar {
    align-items: center;
  }
}
