.front-end-title {
  margin-top: 1em;
}
.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.description-container p,
h1,
h2 {
  color: var(--main-color2);
}
.description-container h1 {
}
.skills-container2 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1.65em;
}
.skills-list-container {
  background-color: var(--main-color3);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
  border-radius: 5px;
}
.skills-uls {
  text-decoration: none;
  padding: 1em 1em 0.5em 1em;
}
.skills-lis {
  padding: 0.3em;
  text-decoration: none;
  color: var(--main-color2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-headings {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color1);
  padding: 0.25em 0.6em;
  border-radius: 5px;
  color: var(--main-color2);
  box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}
.skills-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .description-container h2,
  .description-container h3,
  .description-container h1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .description-container h2,
  .description-container h3,
  .description-container h1 {
    display: none;
  }
}
