.contact-vars {
  color: var(--main-color2);
}
.heading1 {
  color: var(--main-color2);
  padding-bottom: 0.3em;
  text-align: center;
}
.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-color3);
  border-radius: 5px;
  padding: 0 3px;
}
.submit-form input {
  margin-bottom: 4px;
}
/* NEED TO CHANGE / IMPORT MODULE.CSS */
input,
textarea {
  background-color: var(--main-color1);
  color: var(--main-color2);
  border-radius: 5px;
  border: 1px solid var(--main-color5);
}
.submit-button:hover {
  opacity: 50%;
}
.contactindividuals {
  padding: 0.5em;
}

.contactindividuals {
  color: var(--global-text-color);
  text-align: center;
}
svg {
  color: var(--spicy-color);
}
