@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
/* Small Switch Palette, https://mycolor.space1, 60% / 30% / 10% */
:root {
  --global-text-color: #d7dadc;
  --main-color1: #505050;
  --website-background: #292929;
  --main-color2: #d7dadc;
  --main-color3: #1a1a1b;
  /* opacity */
  --main-color4: #252527;
  --main-color5: #aaaaaa4b;
  --main-color8: #505050b9;
}
* {
  animation: pageTransition 1s;
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
body {
  background-color: var(--website-background);
}
h1 {
  color: var(--main-color1);
}
select {
  background-color: var(--main-color1);
}
.btn {
  text-decoration: none;
  text-align: center;
}
@keyframes example {
  0% {
    color: var(--main-color1);
  }
  25% {
    color: var(--main-color2);
  }
  50% {
    color: var(--main-color1);
  }
  100% {
    color: var(--main-color2);
  }
}
@keyframes pageTransition {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
